*, :before, :after {
	box-sizing: border-box;
}

html, body {
	font-family: 'Oswald', Verdana;
}

body {
	background: black;
}

h1 {
	margin: 10px;
	font-size: 50px;
	padding-bottom: 7px;
	border-bottom: 4px solid white;
	color: white;
}

h2 {
	font-size: 22px;
	display: inline-block;
}

h3 {
	font-size: 18px;
	display: inline-block;
	margin-bottom: 7px;
}

/*table tr {
	color: white;
	background-color: black !important;
}*/

#content {
	margin: 10px;
}

#console-box-access {
	background: #C6EC51;
	padding: 20px;
}

#console-box {
	color: white;
	font-size: 22px;
	background: black;
	padding: 15px;
}

#games-box {
	background: #C6EC51;
	padding: 20px;
}

#games-table {
	margin-top: 7px;
}

#stats-box {
	background: #FD927E;
	padding: 20px;
}

#console-list {
	list-style-type: none;
	padding-left: 0px;
}

#console-list li {
	padding: 3px 0px;
}

.console-sublist {
	font-size: 15px;
	list-style-type: none;
	padding-left: 15px;
	display: none;
}

#console-list a:link {
    color: white;
}
#console-list a:visited {
    color: white;
}
#console-list a:hover {
    color: white;
}
#console-list a:active {
    color: white;
}

/*Override DataTables CSS*/

/*Search Filter Bar*/

.dataTables_filter {
	background: #FD927E;
	border-radius: 10px;
	width: 100%;
	text-align:center !important;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
}

.dataTables_filter input {
	width: 90%;
	font-size: 15px;
}

/*Responsive Expand Buttons*/

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
	box-shadow: none;
	border: none;
	background-color: #FD927E;
	top: 0px;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
	text-indent: 0px;
}