/* From MUI Sidedrawer Example, ideally I can minimize this or fold it into master.css */

/**
 * Body CSS
 */
html,
body {
	height: 100%;
}

/**
 * Layout CSS
 */

#sidedrawer {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 285px;
	left: -285px;
	overflow: auto;
	z-index: 2;
	background-color: #FD927E;
	transition: transform 0.2s;

	padding: 20px;
}

.sidedrawer-toggle {
	font-size: 22px;
	float: right;
	text-align: right;
	line-height:0.70; /*This is neccessary since the ☰ icon and the custom font don't align well*/
}

#console-box-access .sidedrawer-toggle {
	font-size: 26px;
}

#content-wrapper {
	min-height: 100%;
	overflow-x: hidden;
	margin-left: 0px;
	transition: margin-left 0.2s;
}

.sidedrawer-toggle-mobile {
	display: initial;
}

.sidedrawer-toggle-desktop {
	display: none;
}

@media (min-width: 768px) {

	#sidedrawer {
		transform: translate(285px);
	}

	#content-wrapper {
		margin-left: 285px;
	}

	body.hide-sidedrawer #sidedrawer {
		transform: translate(0px);
	}

	body.hide-sidedrawer #content-wrapper {
		margin-left: 0;
	}

	.sidedrawer-toggle-mobile {
		display: none;
	}

	.sidedrawer-toggle-desktop {
		display: initial;
	}
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
	transform: translate(285px);
}